// Theme Colors
$primary: #326dee;
$secondary: #1ac888;
$error: #d32752;
$info: #f6c31c;

// Spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-width: 1px;
$base-border-radius: 20px;
